@charset "UTF-8";


*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

html,body{
  height: 100vh;
  background-color: rgb(39, 39, 39);
}

header{
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
  background-color: black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.548);
  
}

/*class do menu*/
.material-symbols-outlined{
  color: white;
  margin-left: 10px;
}

.material-symbols-outlined:hover{
  cursor: pointer;
}

h1 span{
  color: rgb(32, 104, 187);
}

header h1{
  color: white;
  text-shadow: 0px 0px 4px rgb(32, 104, 187);
}

header a{
  text-decoration: none;
  color: rgb(32, 104, 187);
  border: 2px solid rgb(32, 104, 187);
  padding: 8px;
  border-radius: 10px;
}

header a:hover{
    background-color: rgb(32, 104, 187);
    transition: 0.5s;
    color: white;
}

.container{
  display: flex;
  justify-content: center;
  padding: 30px;
}

.lista{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.281);
  padding: 20px;border-radius: 20px;
}

.lista a{
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(6, 19, 34);
}

img{
  width: 337px;
  height: 500px;
}
.card{
  
  display: grid;
  border-radius: 10px;
}

.card h1{
  font-size: 18px;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(27, 27, 27);
  color: rgba(255, 255, 255, 0.671);
}

.card img{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

